* {
    font-family: Helvetica !important;
}

.header-container {
    align-items: center;
    display: flex;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    justify-content: space-between;
    background-color: #2185d0;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.company-logo {
    height: 50px;
    margin-left: 10px;
    align-items: center;
    cursor: pointer;
    margin-top: 4px;
}

.logout-icon {
    height: 26px;
    margin-top: 8px;
    margin-left: 10px;
    margin-right: 2px;
    align-items: center;
    cursor: pointer;
}

.logout-container {
    background-color: white;
    width: 400px;
    height: 120px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 150px;
    margin-left: -200px;
    border-radius: 8px;
    padding: 20px;
    z-index: 10;
    color: black;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logout-container-title {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.logout-container-button-1 {
    padding: 10px;
    width: 80px;
    background-color: #2185d0;
    border: 1px solid #2185d0;
    color: white;
    border-radius: 4px;
    margin-right: 10px;
    cursor: pointer;
}

.logout-container-button-2 {
    padding: 10px;
    width: 80px;
    background-color: #2185d0;
    border: 1px solid #2185d0;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.logout-container-button-1:hover {
    background-color: #1678c2;
    transform: scale(1.2);
}

.logout-container-button-2:hover {
    background-color: #1678c2;
    transform: scale(1.1);
}

.header-right {
    display: flex;
    margin-right: 10px;
    line-height: 2em;
    align-items: center;
}